In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("INX_Future_Inc_Employee_Performance_Data.csv")

In [11]:
data.isnull().values.any()

False

In [15]:
data.corr() >0.5

,Age,DistanceFromHome,Education,EmployeeCount,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,NumCompaniesWorked,...,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,PerformanceRatingYear2017
Age,True,False,False,False,False,False,False,True,False,False,...,False,False,True,False,False,False,False,False,False,False
DistanceFromHome,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Education,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
EmployeeCount,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
EnvironmentSatisfaction,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
HourlyRate,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
JobInvolvement,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
JobLevel,True,False,False,False,False,False,False,True,False,False,...,False,False,True,False,False,True,False,False,False,False
JobSatisfaction,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
NumCompaniesWorked,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
PercentSalaryHike,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
RelationshipSatisfaction,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
StandardHours,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
TotalWorkingYears,True,False,False,False,False,False,False,True,False,False,...,False,False,True,False,False,True,False,False,False,False
TrainingTimesLastYear,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
WorkLifeBalance,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
YearsAtCompany,False,False,False,False,False,False,False,True,False,False,...,False,False,True,False,False,True,True,True,True,False
YearsInCurrentRole,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,False
YearsSinceLastPromotion,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,False
YearsWithCurrManager,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,False
PerformanceRatingYear2017,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [17]:
data.iloc[:,1:10]

,Age,Gender,EducationField,MaritalStatus,Department,JobRole,BusinessTravel,DistanceFromHome,Education
0,41,Female,Life Sciences,Single,Sales,Sales Executive,Travel_Rarely,1,2
1,49,Male,Life Sciences,Married,Development,Developer,Travel_Frequently,8,1
2,37,Male,Other,Single,Development,Senior Developer,Travel_Rarely,2,2
3,33,Female,Life Sciences,Married,Development,Senior Developer,Travel_Frequently,3,4
4,27,Male,Medical,Married,Development,Developer,Travel_Rarely,2,1
5,32,Male,Life Sciences,Single,Development,Senior Developer,Travel_Frequently,2,2
6,59,Female,Medical,Married,Development,Senior Developer,Travel_Rarely,3,3
7,30,Male,Life Sciences,Divorced,Development,Senior Developer,Travel_Rarely,24,1
8,38,Male,Life Sciences,Single,Development,Developer,Travel_Frequently,23,3
9,36,Male,Medical,Married,Development,Senior Developer,Travel_Rarely,27,3
10,35,Male,Medical,Married,Development,Developer,Travel_Rarely,16,3
11,29,Female,Life Sciences,Single,Development,Developer,Travel_Rarely,15,2
12,31,Male,Life Sciences,Divorced,Development,Developer,Travel_Rarely,26,1
13,34,Male,Medical,Divorced,Development,Senior Developer,Travel_Rarely,19,2
14,28,Male,Life Sciences,Single,Development,Developer,Travel_Rarely,24,3
15,29,Female,Life Sciences,Divorced,Development,Senior Developer,Travel_Rarely,21,4
16,32,Male,Life Sciences,Divorced,Development,Developer,Travel_Rarely,5,2
17,22,Male,Medical,Divorced,Development,Senior Developer,Non-Travel,16,2
18,53,Female,Life Sciences,Married,Sales,Manager,Travel_Rarely,2,4
19,38,Male,Life Sciences,Single,Development,Developer,Travel_Rarely,2,3
20,24,Female,Other,Divorced,Development,Developer,Non-Travel,11,2
21,36,Male,Life Sciences,Single,Sales,Sales Representative,Travel_Rarely,9,4
22,34,Female,Life Sciences,Single,Development,Developer,Travel_Rarely,7,4
23,21,Male,Life Sciences,Single,Development,Developer,Travel_Rarely,15,2
24,34,Male,Medical,Single,Development,Developer,Travel_Rarely,6,1
25,53,Female,Other,Divorced,Development,Senior Developer,Travel_Rarely,5,3
26,32,Female,Life Sciences,Single,Development,Senior Developer,Travel_Frequently,16,1
27,42,Male,Marketing,Married,Sales,Sales Executive,Travel_Rarely,8,4
28,44,Female,Medical,Married,Development,Developer,Travel_Rarely,7,4
29,46,Female,Marketing,Single,Sales,Manager,Travel_Rarely,2,4
...,...,...,...,...,...,...,...,...,...
1440,36,Female,Life Sciences,Divorced,Research & Development,Manufacturing Director,Travel_Frequently,4,2
1441,56,Male,Life Sciences,Divorced,Research & Development,Healthcare Representative,Non-Travel,1,4
1442,29,Male,Medical,Married,Research & Development,Research Scientist,Travel_Rarely,1,4
1443,42,Male,Life Sciences,Married,Research & Development,Manager,Travel_Rarely,2,3
1444,56,Male,Technical Degree,Married,Research & Development,Laboratory Technician,Travel_Rarely,7,2
1445,41,Female,Life Sciences,Married,Research & Development,Manufacturing Director,Travel_Rarely,28,4
1446,34,Female,Marketing,Married,Sales,Sales Executive,Travel_Rarely,28,3
1447,36,Male,Marketing,Divorced,Sales,Sales Executive,Non-Travel,15,4
1448,41,Male,Life Sciences,Divorced,Sales,Sales Executive,Travel_Rarely,3,3
1449,32,Male,Technical Degree,Single,Research & Development,Research Scientist,Travel_Rarely,2,3
1450,35,Female,Life Sciences,Single,Human Resources,Human Resources,Travel_Rarely,26,4
1451,38,Female,Life Sciences,Married,Sales,Sales Executive,Travel_Rarely,10,2
1452,50,Male,Life Sciences,Divorced,Sales,Sales Executive,Travel_Frequently,1,4
1453,36,Female,Marketing,Married,Sales,Sales Executive,Travel_Rarely,11,4
1454,45,Female,Life Sciences,Single,Sales,Sales Executive,Travel_Rarely,20,3
1455,40,Male,Life Sciences,Single,Research & Development,Research Scientist,Travel_Rarely,2,4
1456,35,Male,Life Sciences,Married,Research & Development,Research Scientist,Travel_Frequently,18,4
1457,40,Female,Medical,Married,Research & Development,Research Scientist,Travel_Rarely,2,4
1458,35,Female,Life Sciences,Married,Research & Development,Research Scientist,Travel_Rarely,1,4
1459,29,Male,Other,Married,Research & Development,Research Scientist,Travel_Rarely,13,2
1460,29,Female,Medical,Single,Research & Development,Research Scientist,Travel_Rarely,28,4
1461,50,Male,Marketing,Divorced,Sales,Sales Executive,Travel_Rarely,28,3
1462,39,Female,Marketing,Married,Sales,Sales Executive,Travel_Rarely,24,1
1463,31,Male,Medical,Single,Research & Development,Manufacturing Director,Non-Travel,5,3
1464,26,Female,Other,Single,Sales,Sales Representative,Travel_Rarely,5,3
1465,36,Male,Medical,Married,Research & Development,Laboratory Technician,Travel_Frequently,23,2
1466,39,Male,Medical,Married,Research & Development,Healthcare Representative,Travel_Rarely,6,1
1467,27,Male,Life Sciences,Married,Research & Development,Manufacturing Director,Travel_Rarely,4,3
1468,49,Male,Medical,Married,Sales,Sales Executive,Travel_Frequently,2,3
1469,34,Male,Medical,Married,Research & Development,Laboratory Technician,Travel_Rarely,8,3

In [18]:
data.iloc[:,10:20]

,EmployeeCount,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,NumCompaniesWorked,OverTime,PercentSalaryHike,RelationshipSatisfaction
0,1,2,94,3,2,4,8,Yes,11,1
1,1,3,61,2,2,2,1,No,23,4
2,1,4,92,2,1,3,6,Yes,15,2
3,1,4,56,3,1,3,1,Yes,11,3
4,1,1,40,3,1,2,9,No,12,4
5,1,4,79,3,1,4,0,No,13,3
6,1,3,81,4,1,1,4,Yes,20,1
7,1,4,67,3,1,3,1,No,22,2
8,1,4,44,2,3,3,0,No,21,2
9,1,3,94,3,2,3,6,No,13,2
10,1,1,84,4,1,2,0,No,13,3
11,1,4,49,2,2,3,0,Yes,12,4
12,1,1,31,3,1,3,1,No,17,4
13,1,2,93,3,1,4,0,No,11,3
14,1,3,50,2,1,3,5,Yes,14,2
15,1,2,51,4,3,1,1,No,11,3
16,1,1,80,4,1,2,0,Yes,12,4
17,1,4,96,4,1,4,1,Yes,13,2
18,1,1,78,2,4,4,2,No,16,3
19,1,4,45,3,1,4,5,Yes,11,3
20,1,1,96,4,2,3,0,No,18,4
21,1,3,82,2,1,1,7,No,23,2
22,1,1,53,3,3,2,0,No,11,3
23,1,3,96,3,1,4,1,No,14,4
24,1,2,83,3,1,1,2,No,11,3
25,1,3,58,3,5,3,4,No,11,4
26,1,2,72,1,1,1,1,Yes,22,2
27,1,3,48,3,2,2,0,No,11,4
28,1,1,42,2,3,4,3,No,14,4
29,1,2,83,3,5,1,3,No,12,4
...,...,...,...,...,...,...,...,...,...,...
1440,1,4,97,3,2,2,7,No,13,2
1441,1,3,57,3,2,3,1,No,21,1
1442,1,1,36,3,1,4,9,Yes,14,2
1443,1,1,56,3,5,3,5,No,11,1
1444,1,4,72,3,1,3,8,No,11,4
1445,1,1,60,2,4,2,0,No,23,3
1446,1,4,95,2,2,3,1,No,21,4
1447,1,4,88,1,2,4,1,No,24,1
1448,1,3,57,2,2,2,2,No,11,3
1449,1,4,78,3,1,1,1,No,14,4
1450,1,3,31,3,3,4,1,Yes,16,3
1451,1,1,100,3,2,4,1,No,11,3
1452,1,2,94,3,2,3,7,No,12,4
1453,1,2,100,2,2,4,4,No,13,1
1454,1,4,50,3,2,3,8,No,15,3
1455,1,3,52,2,1,3,2,No,14,4
1456,1,3,80,3,2,3,1,Yes,14,4
1457,1,3,98,3,1,3,2,No,14,2
1458,1,3,62,1,1,4,1,No,12,4
1459,1,4,46,2,2,2,4,Yes,13,1
1460,1,4,73,2,1,1,1,No,14,2
1461,1,4,39,2,3,1,4,Yes,13,2
1462,1,2,60,2,4,4,0,No,11,1
1463,1,2,74,3,2,1,0,No,19,2
1464,1,4,30,2,1,3,0,No,18,4
1465,1,3,41,4,2,4,4,No,17,3
1466,1,4,42,2,3,1,4,No,15,1
1467,1,2,87,4,2,2,1,Yes,20,2
1468,1,4,63,2,2,2,2,No,14,4
1469,1,2,82,4,2,3,2,No,12,1